body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: white;
}

nav {
    background-color: lightblue;
    height: 40px;
} 

nav ul li {
    float: left;
    margin: 10px;
}

.cleanfix {
    clear: both;
}

#content {
    float: left;
    width: 80%;
    background: white;
}

aside {
    float: left;
    width: 20%;
    background: lightgreen;
}