body {
  margin: 50px;
}

header {
  background-color: #ff385c;
  padding: 30px;
  width: 70%;
  margin-left: 11%;
}

.head {
  text-align: center;
  color: white;
}

.lady {
  width: 70%;
  height: 70%;
  margin-top: 30px;
  margin-left: 11%;
}

.divone {
  position: relative;
  display: inline-block;
}

.divtwo {
  position: absolute;
}

footer {
  background-color: rgb(250, 246, 246);
  padding: 40px;
  width: 70%;
  display: inline-flex;
  margin: 30px 130px;
}

.air {
  width: 50%;
  height: 20%;
}

.bird {
  width: 80%;
  height: 80%;
  margin-left: 28%;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 10px;
  border-width: 1px;
}

/* button {
  border-radius: 10px;
  border-width: 1px;
} */

a:hover button {
  background-color: rgb(170, 168, 168);
}

.headlink {
  text-decoration: none;
  color: black;
}
